<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      You have successfully added <%= @book.title %> by <%= @book.author %>.<br>
    </p>

    <p>Keep up the good work!</p>
  </body>
</html>