<div>
	<p>
    <%= comment.content %>
  </p>
  <p>
    <% if comment.is_liked_by? current_user %>
      <%= unlike_for_comment(comment, current_user) %>
    <% else %>
      <%= like_for_comment(comment) %>
    <% end %>
  </p>
</div> 